.buttonGroup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.buttonGroup > :first-child {
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
}

.buttonGroup > :last-child {
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
