.badge-container {
  position: relative;
  width: fit-content;
}

.badge {
  position: absolute;
  background-color: var(--color);
  padding: 0.1rem;
  font-size: 0.85rem;
  border-radius: 9999px;
  line-height: normal;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.square {
  --offset: 5%;
}

.circular {
  --offset: 15%;
}

.bordered {
  border: 2px solid var(--color-5);
}

.top-right {
  top: var(--offset);
  right: var(--offset);
  transform: translate(50%, -50%);
}

.top-left {
  top: var(--offset);
  left: var(--offset);
  transform: translate(-50%, -50%);
}

.bottom-right {
  bottom: var(--offset);
  right: var(--offset);
  transform: translate(50%, 50%);
}

.bottom-left {
  bottom: var(--offset);
  left: var(--offset);
  transform: translate(-50%, 50%);
}

.badge.faded {
  background-color: var(--color-faded);
  border: 2px solid var(--color-faded-1);
  color: var(--color);
}

.badge.flat {
  background-color: var(--color-4);
  color: var(--color);
}
