.card-with-divider {
    max-width: 400px;
    background-color: #18181B;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600;
}

.card-header{
    display: flex;
    gap: 15px;
    padding: 15px;
}

.card-image{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.56);
}

.divider{
    height: 0.01rem;
    background-color: #dddddd3b;
    width: 100%;
    border-radius: 5px;
}

.card-body{
    display: flex;
    gap: 10px;
    padding: 0.25rem;
    padding: 15px;
    color: rgb(211, 210, 210);
}

.card-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

a {
    font-size: inherit;
    font-weight: inherit;
    color: #006FEE;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 100%;
    transition: opacity 0.1s ease-in-out;
}

a:hover {
    opacity: 80%;
}