.eyeSlashFilledIcon {
  color: white !important;
}

.eyeFilledIcon {
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
}

.newFileIcon {
  color: var(--color-1);
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.copyLinkIcon {
  color: var(--color-1);
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.editFileIcon {
  color: var(--color-1);
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.deleteFileIcon {
  color: var(--color-1);
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.volumeLowIcon {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.volumeHighIcon {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}
