.checkbox-label {
  position: relative;
  font-size: inherit;
  cursor: pointer;
  color: var(--text);
  will-change: transform;
  display: inline-flex;
  align-items: center;
}

.text-color {
  color: var(--color-1) !important;
}

.text-black {
  color: black;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.25rem;
}

.font-lg {
  font-size: 2rem;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
}

.input-check {
  position: relative;
  display: inline-block;

  margin-right: 5px;
  border: 2px solid var(--text);
  transition: 0.5s;
}

.sm {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  --height: 4px;
  --width: 8px;
  --top: 4px;
  --left: 3px;
  --border: 1px;
}

.md {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  --height: 6px;
  --width: 12px;
  --top: 6px;
  --left: 4px;
  --border: 2px;
}

.lg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  --height: 8px;
  --width: 16px;
  --top: 8px;
  --left: 7px;
  --border: 3px;
}

.radius-none {
  border-radius: 0;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 8px;
}

.radius-lg {
  border-radius: 16px;
}

.radius-xl {
  border-radius: 32px;
}

.radius-full {
  border-radius: 9999px;
}

.checkbox-input:checked + .input-check {
  background-color: var(--color);
  border-color: var(--color);
  animation: animate 0.7s ease;
}

.input-check::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  transform: rotate(-55deg);
  transition: 0.5s;
}

.input-check::before {
  top: var(--top);
  left: var(--left);
}

.checkbox-input:checked + .input-check::before {
  animation: checkgrow 0.3s linear 0.2s both;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.input-check::before {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  border-bottom: var(--border) solid var(--text);
  border-left: var(--border) solid var(--text);
  transform: scale(0) rotate(-45deg);
  transition: 0.5s;
}

.default.input-check::before {
  border-bottom: var(--border) solid white !important;
  border-left: var(--border) solid white !important;
}

.default.input-check::before,
.primary.input-check::before,
.secondary.input-check::before,
.success.input-check::before,
.warning.input-check::before,
.danger.input-check::before {
  border-bottom: var(--border) solid white !important;
  border-left: var(--border) solid white !important;
}

label input:checked ~ .input-check::before {
  transform: scale(1) rotate(-50deg);
}
