.container {
  display: flex;
  gap: 0.25rem;
}

.container.horizontal {
  max-width: 28rem;
  width: 100%;
  flex-direction: column;
}

.container.vertical {
  max-height: 28rem;
  height: 100%;

  flex-direction: column-reverse;
  align-items: center;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.labelContainer.blackText {
  color: black;
}

.label {
  font-size: 1rem;
}

.trackWrapper {
  position: relative;
  display: flex;
  gap: 0.5rem;
}

.trackWrapper.horizontal {
  align-items: center;
}

.trackWrapper.vertical {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.track {
  display: flex;
  position: relative;
  border-radius: 99999px;
  background-color: hsla(240, 5%, 34%, 0.411);
  border-style: solid;
}

.track.horizontal {
  width: 100%;
  height: 0.75rem;
  border-top: none;
  border-bottom: none;
  border-left-width: calc(1.5rem / 2);
  border-right-width: calc(1.5rem / 2);
  border-inline-start-color: var(--color-2);
  border-right-color: transparent;
}

.track.horizontal.sm {
  height: 0.25rem;
}

.track.horizontal.md {
  height: 0.75rem;
}

.track.horizontal.lg {
  height: 1.8rem;
}

.track.vertical {
  max-height: 28rem;
  flex-direction: column-reverse;
  align-items: center;
}

.track.vertical {
  height: 100%;
  border-left: none;
  border-right: none;
  border-top-width: calc(1.5rem / 2);
  border-top-color: hsla(240, 5%, 50%, 0.411);
  border-bottom-width: calc(1.5rem / 2);
  border-bottom-color: var(--color-2);
}

.track.vertical.sm {
  width: 0.25rem;
}

.track.vertical.md {
  width: 0.75rem;
}

.track.vertical.lg {
  width: 1.8rem;
}

.filler {
  position: absolute;
}

.filler.horizontal {
  height: 100%;
  background-color: var(--color-2);
}

.filler.vertical {
  width: 100%;
  background-color: var(--color-2);
  bottom: 0;
}

.thumb {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  cursor: grab;
  border: 0;
  outline: none;
  touch-action: none;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0px 0px 5px 0px rgba(0, 0, 0, 0.05),
    0px 2px 10px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
}

.thumb.horizontal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.thumb.horizontal.lg {
  left: 50%;
  top: 50%;
  width: 29px;
  height: 29px;
  box-shadow: none;
}

.thumb.vertical {
  left: 50%;
  transform: translate(-50%, 50%);
}

.thumb::before {
  content: "";
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

.thumb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0px 0px 5px 0px rgba(0, 0, 0, 0.05),
    0px 2px 10px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
  background-color: black;
  transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .thumb::after {
    transition: none;
  }
}

.thumb[data-dragging="true"] {
  cursor: grabbing;
}

.thumb[data-dragging="true"]::after {
  transform: translate(-50%, -50%) scale(0.8);
}

.inputContainer {
  border: none;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.step {
  position: absolute;
  top: 50%;
  background: rgb(147, 144, 144);
  border-radius: 99999px;
  transform: translate(-50%, -50%);
}

.step.vertical {
  left: 50%;
}

.step.sm {
  width: 0.375rem;
  height: 0.375rem;
}

.step.md {
  width: 0.375rem;
  height: 0.375rem;
}

.step.lg {
  width: 0.5rem;
  height: 0.5rem;
}
