.card {
    border-radius: 10px;
    font-family: sans-serif;
}

.card-header{
    display: flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
}

.card-body{
    display: flex;
    gap: 10px;
    padding: 15px;
    font-size: 1.2rem;
    color: rgb(211, 210, 210);
}

.card-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.title {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.56);
}

.card-divider{
    min-width: 300px;
}

.color-primary{
    color: white;
    background-color: #18181B;
}

.color-secondary{
    color: white;
    background-color: var(--color-secondary);
}

.color-tertiary{
    color: #18181B;
    background-color: #ddd;
}

.size-sm{
    font-size: 1.2rem;
}

.size-md{
    font-size: 1.4rem;
}

.size-lg{
    font-size: 1.6rem;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 450px;
}

.is-clickable{
    cursor: pointer;
}

.is-draggable{
    cursor: grab;
    user-select: none;
}



.card-image{
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;

}


a {
    font-size: 1.2rem;
    font-weight: inherit;
    color: #006FEE;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 100%;
    transition: opacity 0.1s ease-in-out;
}

a:hover {
    opacity: 80%;
}