.tablist {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 0.25rem;
  position: relative;
  min-width: min-content;
  max-width: max-content;
  height: fit-content;
  border-radius: 12px;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.success,
.warning {
  --selected-color: black;
}

.tablist.horizontal {
  flex-direction: row;
}

.tablist.vertical {
  flex-direction: column;
}

.tablist {
  --padding-v: 4px;
  --padding-h: 12px;
}

.tablist.sm {
  --font-size: 12px;
}

.tablist.md {
  --font-size: 14px;
}

.tablist.lg {
  --font-size: 16px;
}

.radius-none .tablist.shadow {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.2),
    0 8px 10px -6px rgb(0 0 0 / 0.2);
}

.tab {
  position: relative;
  display: block;
  height: 30px;
  padding: var(--padding-v) var(--padding-h);
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: filter 0.3s;
  z-index: 1;
  will-change: transform;
}

.indicator.default {
  --color: #3f3f45;
}

.indicator {
  position: absolute;
  inset: 0px;
  background-color: var(--color);
  transition: all 0.3s;
  z-index: 0;
}

.indicator.horizontal {
  margin: var(--padding-v) 0px;
}

.indicator.vertical {
  margin: 0px var(--padding-v);
}

.indicator.radius-none,
.tablist.radius-none {
  border-radius: var(--radius-none);
}

.indicator.radius-sm,
.tablist.radius-sm {
  border-radius: var(--radius-sm);
}

.indicator.radius-md,
.tablist.radius-md {
  border-radius: var(--radius-md);
}

.indicator.radius-lg,
.tablist.radius-lg {
  border-radius: var(--radius-lg);
}

.indicator.radius-full,
.tablist.radius-full {
  border-radius: var(--radius-full);
}

.indicator.shadow {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.tab {
  color: inherit;
}

.tab:hover {
  filter: opacity(0.6);
}

.tab.active {
  filter: none;
  color: var(--selected-color);
}

.title {
  width: fit-content;
  font-size: var(--font-size);
}

.content.notActive {
  visibility: hidden;
  position: absolute;
  display: none;
  opacity: 0;
}

.tablist.solid {
  background-color: #27272a;
}

.tablist.bordered {
  outline: 2px solid #505055;
}

.tablist.light {
  background-color: transparent;
}

.tablist.underlined {
  background-color: transparent;

  .active > .title {
    color: var(--color);
  }

  .active.tab:hover {
    filter: none;
  }

  .title {
    color: rgb(177, 177, 177);
  }

  .indicator {
    background-color: transparent !important;
    border-bottom: 2px solid var(--color) !important;
    border-radius: 0px;
  }
}

.tablist.default.underlined {
  --color: white;

  & .indicator {
    border-bottom: 2px solid white !important;
  }
}

.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
