.button {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  overflow: hidden;
  user-select: none;
  transition: transform 0.1s ease;
  cursor: pointer;
  will-change: transform;
}

.button:hover {
  background-color: var(--color-default-button-opacity);
  transition: all 0.3s ease;
}

.primary:hover {
  background-color: var(--color-primary-opacity);
}

.secondary:hover {
  background-color: var(--color-secondary-opacity);
}

.success:hover {
  background-color: var(--color-success-opacity);
}

.warning:hover {
  background-color: var(--color-warning-opacity);
}

.danger:hover {
  background-color: var(--color-danger-opacity);
}

.small {
  height: 32px;
  min-width: 64px;
  padding: 0 12px;
  font-size: 12px;
}

.medium {
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  min-width: 80px;
}

.large {
  height: 48px;
  padding: 0 24px;
  min-width: 96px;
  font-size: 16px;
}

.radius-none {
  border-radius: 0;
}

.radius-small {
  border-radius: 8px;
}

.radius-medium {
  border-radius: 12px;
}

.radius-large {
  border-radius: 14px;
}

.radius-full {
  border-radius: 9999px;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.default,
.primary,
.secondary,
.success,
.warning,
.danger {
  --color: var(--color-default-button);
  --opacity-color: var(--color-default-button-opacity);
  --opacity-color2: var(--color-default-button-opacity-2);
  --opacity-color3: var(--color-default-button-opacity-3);
}

.primary {
  --color: var(--color-primary);
  --opacity-color: var(--color-primary-opacity);
  --opacity-color2: var(--color-primary-opacity-2);
  --opacity-color3: var(--color-primary-opacity-3);
}

.secondary {
  --color: var(--color-secondary);
  --opacity-color: var(--color-secondary-opacity);
  --opacity-color2: var(--color-secondary-opacity-2);
  --opacity-color3: var(--color-secondary-opacity-3);
}

.success {
  --color: var(--color-success);
  --opacity-color: var(--color-success-opacity);
  --opacity-color2: var(--color-success-opacity-2);
  --opacity-color3: var(--color-success-opacity-3);
  color: black;
}

.warning {
  --color: var(--color-warning);
  --opacity-color: var(--color-warning-opacity);
  --opacity-color2: var(--color-warning-opacity-2);
  --opacity-color3: var(--color-warning-opacity-3);
  color: black;
}

.danger {
  --color: var(--color-danger);
  --opacity-color: var(--color-danger-opacity);
  --opacity-color2: var(--color-danger-opacity-2);
  --opacity-color3: var(--color-danger-opacity-3);
}

.button {
  background-color: var(--color);
}

.bordered {
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--color);
}

.bordered:hover {
  background-color: transparent;
  border-color: var(--opacity-color);
}

.light {
  background-color: transparent;
  color: var(--color);
}

.light:hover {
  opacity: 1;
  background-color: var(--opacity-color2);
}

.flat {
  background-color: var(--opacity-color2);
  color: var(--color);
}

.flat:hover {
  opacity: 1;
  background-color: var(--opacity-color3);
}

.faded {
  background-color: #27272a;
  border: 2px solid #3e3e43;
  color: var(--color);
}

.faded:hover {
  opacity: 1;
  background-color: #212123;
}

.default {
  color: white;
}

.button:active {
  transform: scale(0.98);
}

.shadow {
  box-shadow:
    0 10px 15px -3px var(--opacity-color),
    0 4px 6px -4px var(--opacity-color);
}

.ghost {
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
}

.default.ghost {
  color: white;
}

.ghost:hover {
  opacity: 1;
  background-color: var(--color) !important;
  color: white;
}

.warning.ghost:hover,
.success.ghost:hover {
  color: black;
}
