.button {
  position: relative;
  display: inline-flex;
  gap: 8px;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  will-change: transform;
  text-wrap: nowrap;
}

.sm {
  height: 32px;
  width: fit-content;
  padding: 0px 12px;
  font-size: 12px;
}

.md {
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  width: fit-content;
}

.lg {
  height: 48px;
  padding: 0 24px;
  width: fit-content;
  font-size: 16px;
}

.radius-none {
  border-radius: 0;
}

.radius-sm {
  border-radius: 8px;
}

.radius-md {
  border-radius: 12px;
}

.radius-lg {
  border-radius: 14px;
}

.radius-full {
  border-radius: 9999px;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.is-icon-only {
  width: 40px;
  padding: 0;
  min-width: 2.5rem;
}

.black-text {
  color: #000 !important;
}

.white-text {
  color: #fff !important;
}
