.default,
.primary,
.secondary,
.success,
.warning,
.danger {
  --color: rgb(187, 174, 174);
  --color-2: var(--color-default-button-1);
  --color-3: var(--color-default-button-2);
  --color-4: var(--color-default-button-3);
  --color-5: var(--color-default-button-4);
  color: white;
}

.primary {
  --color: var(--color-primary);
  --color-2: var(--color-primary-1);
  --color-3: var(--color-primary-2);
  --color-4: var(--color-primary-3);
  --color-5: var(--color-primary-4);
  color: white;
}

.secondary {
  --color: var(--color-secondary);
  --color-2: var(--color-secondary-1);
  --color-3: var(--color-secondary-2);
  --color-4: var(--color-secondary-3);
  --color-5: var(--color-secondary-4);
  color: white;
}

.success {
  --color: var(--color-success);
  --color-2: var(--color-success-1);
  --color-3: var(--color-success-2);
  --color-4: var(--color-success-3);
  --color-5: var(--color-success-4);
  color: black;
}

.warning {
  --color: var(--color-warning);
  --color-2: var(--color-warning-1);
  --color-3: var(--color-warning-2);
  --color-4: var(--color-warning-3);
  --color-5: var(--color-warning-4);
  color: black;
}

.danger {
  --color: var(--color-danger);
  --color-2: var(--color-danger-1);
  --color-3: var(--color-danger-2);
  --color-4: var(--color-danger-3);
  --color-5: var(--color-danger-4);
  color: white;
}

.input-container {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 0.375rem;
  background-color: hsl(240 3.7% 15.88%);
  transition: background-color 0.2s ease-in;
  border: none;
  font-size: 0.95rem;
}

.input {
  background-color: var(--color-5);
  color: var(--color);
}

.input:hover {
  background-color: var(--color-4);
}

.input::placeholder {
  color: var(--color-2);
}

.input:focus {
  outline: none;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}

.label {
  position: absolute;
  transition: all 0.3s ease;
  transform-origin: left top;
  transform: translateY(0) scale(1);
  pointer-events: none;
  color: var(--color);
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-2px) scale(0.75);
  top: 12px;
}

.input:focus + .label-small,
.input:not(:placeholder-shown) + .label-small {
  transform: translateY(-2px) scale(0.75);
  top: 8px;
}

.input:focus + .label-large,
.input:not(:placeholder-shown) + .label-large {
  transform: translateY(-2px) scale(0.75);
  top: 14px;
}

.input.has-placeholder + .label {
  transform: translateY(-2px) scale(0.75);
  top: 12px;
}

.input.has-placeholder + .label-small {
  transform: translateY(-2px) scale(0.75);
  top: 8px;
}

.input.has-placeholder + .label-large {
  transform: translateY(-2px) scale(0.75);
  top: 14px;
  font-size: 1rem;
}

.small {
  min-height: 2rem;
  height: 3rem;
  padding: 20px 24px 6px 16px;
}

.medium {
  min-height: 2.5rem;
  height: 3.5rem;
  padding: 24px 24px 6px 16px;
}

.large {
  min-height: 3rem;
  height: 4rem;
  padding: 30px 30px 10px 20px;
  font-size: 1.1rem;
}

.label.label-small {
  top: 16px;
  left: 16px;
}
.label.label-medium {
  top: 20px;
  left: 16px;
}

.label.label-large {
  top: 24px;
  left: 19px;
}

.width-small {
  width: 200px;
}

.width-medium {
  width: 280px;
}

.width-large {
  width: 400px;
}

.width-full {
  width: 100%;
}

.border-radius-none {
  border-radius: 0;
}

.border-radius-small {
  border-radius: 8px;
}

.border-radius-medium {
  border-radius: 12px;
}

.border-radius-large {
  border-radius: 14px;
}

.border-radius-full {
  border-radius: 9999px;
}

.bordered {
  box-sizing: border-box;
  .input {
    border: 2px solid #555252;
    background-color: transparent;
  }

  .input:focus {
    border-color: var(--color);
  }

  .label {
    color: var(--color);
  }
  .input:focus ~ .underline,
  .input:not(:placeholder-shown) ~ .underline {
    transform: scaleX(1);
  }

  .label {
    color: var(--color);
    transition: all 0.3s ease;
  }
}

.underlined {
  .input {
    border: none;
    border-bottom: 2px solid #555252;
    background-color: transparent;
    border-radius: 0;
    padding-left: 5px;
    min-height: 2.5rem;
    height: 3.25rem;
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color);
    transition: transform 0.3s ease;
  }

  .input:focus ~ .underline,
  .input:not(:placeholder-shown) ~ .underline {
    transform: scaleX(1);
  }

  .label {
    color: var(--color);
    top: 20px;
    left: 5px;
    transition: all 0.3s ease;
  }
}

.faded {
  .input {
    background-color: #27272a;
    border: 2px solid #3e3e43;
  }

  .input:hover {
    border: 2px solid var(--color);
  }

  .input:focus {
    border: 2px solid var(--color);

    ~ .label {
      color: var(--color);
    }
  }

  .input:focus ~ .underline,
  .input:not(:placeholder-shown) ~ .underline {
    transform: scaleX(1);
  }

  .label {
    color: var(--color);
    transition: all 0.3s ease;
  }
}

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.is-read-only {
  pointer-events: none;
}
