.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* animation: fadeIn 0.35s; */
}

.modalBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modalContent {
  position: absolute;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  /* width: 448px; */
  background-color: #18181b;
}

.xs {
  width: 320px;
}

.sm {
  width: 384px;
}

.md {
  width: 448px;
}

.lg {
  width: 512px;
}

.xl {
  width: 576px;
}

.xl2 {
  width: 672px;
}

.xl3 {
  width: 768px;
}

.xl4 {
  width: 896px;
}

.xl5 {
  width: 1024px;
}

.full {
  width: 100%;
  height: 100%;
}

/* MOBILE */
@media (width <= 640px) {
  .modalContent {
    width: calc(100% - 20px);
  }

  .modalContent.auto,
  .modalContent.bottom,
  .modalContent.bottomCenter {
    bottom: 0;
    inset: 1 0;
    animation: slideIn 0.35s;
  }

  .modalContent.center {
    inset: 1;
  }

  .modalContent.top,
  .modalContent.topCenter {
    top: 0;
    inset: 1 0;
    animation: slideIn 0.35s;
  }

  .modalClosing {
    animation: slideOut 0.35s !important;
  }
}

/* DESKTOP */
@media (min-width: 641px) {
  .modalContent.bottom {
    bottom: 11%;
    inset: 1 0;
  }

  .modalContent.top {
    top: 11%;
    inset: 1 0;
  }

  .modal.notBlur {
    animation: fadeIn 0.35s;
  }

  .modal.blur {
    animation: blurFadeIn 0.35s both;
  }

  .modalContent.blur {
    animation: fadeIn 0.7s;
  }

  .modalClosing {
    animation: fadeOut 0.35s !important;
  }
}

.children {
  font-family: inherit;
}

.closeButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  user-select: none;
  border-radius: 99999px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurFadeIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(var(--blur));
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30%);
  }
}
