.dropdown {
  position: relative;
  display: grid;
  place-content: center;
}

.dropdown * {
  box-sizing: border-box;
}

.listWrapper {
  pointer-events: none;
  list-style: none;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  background-color: #27272a;
  padding: 8px;
  border-radius: 12px;
  position: absolute;
  display: flex;
  width: 100%;
  transform-origin: 50% 0%;

  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  z-index: 1;
}

.bottom {
  top: 2.8em;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: 50% 0%;
}

.top {
  bottom: 2.8em;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: 50% 100%;
}

.left {
  right: 9.9em;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  transform-origin: 100% 50%;
}

.right {
  left: 9.9em;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  transform-origin: 0% 50%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.listItem {
  padding: 6px 8px;
  border-radius: 8px;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.3s ease;
}

.menuOpen {
  pointer-events: auto;
  opacity: 1;
}

.menuOpen.bottom {
  transform: translateX(-50%) scale(1);
}

.menuOpen.top {
  transform: translateX(-50%) scale(1);
}

.menuOpen.left {
  transform: translateY(-50%) scale(1);
}

.menuOpen.right {
  transform: translateY(-50%) scale(1);
}

.startContent {
  display: flex;
  align-items: center;
}

.span {
  display: flex;
  flex: 1;
}
