html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0, 01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
    animation-iteration-count: 1 !important;
  }
}

:root {
  --color-default: #18181b;
  --color-default-button: #39393f;
  --color-primary: #006fee;
  --color-secondary: #9353d3;
  --color-success: #17c964;
  --color-warning: #f5a524;
  --color-danger: #f31260;

  --color-default-button-1: #313136;
  --color-primary-1: #005bc4;
  --color-secondary-1: #6020a0;
  --color-success-1: #12a150;
  --color-warning-1: #c4841d;
  --color-danger-1: #c20e4d;

  --color-default-button-2: #4f4f57;
  --color-primary-2: #004493;
  --color-secondary-2: #481878;
  --color-success-2: #0e793c;
  --color-warning-2: #936316;
  --color-danger-2: #920b3a;

  --color-default-button-3: #2a2a2f;
  --color-primary-3: #002e62;
  --color-secondary-3: #301050;
  --color-success-3: #095028;
  --color-warning-3: #62420e;
  --color-danger-3: #610726;

  --color-default-button-4: #1e1e22;
  --color-primary-4: #001731;
  --color-secondary-4: #180828;
  --color-success-4: #052814;
  --color-warning-4: #312107;
  --color-danger-4: #310413;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  width: 0;
  height: 0;
  animation: animate 1s linear;
}

.ripple-light {
  background: rgba(255, 255, 255, 0.5);
}

.ripple-dark {
  background: rgba(0, 0, 0, 0.5);
}

.ripple-bordered-default {
  background-color: rgba(255, 255, 255, 0.5);
}

.ripple-bordered-primary {
  background-color: var(--color-primary);
}

.ripple-bordered-secondary {
  background-color: var(--color-secondary);
}

.ripple-bordered-success {
  background-color: var(--color-success);
}

.ripple-bordered-warning {
  background-color: var(--color-warning);
}

.ripple-bordered-danger {
  background-color: var(--color-danger);
}

@keyframes animate {
  0% {
    width: 0;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
