html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body { min-height: 100dvh;}
p { text-wrap: pretty; }

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

img, video, svg {
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0,01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
        animation-iteration-count: 1 !important;
    }
}

