html, body {
    height: 100%;
    font-family: var(--font-family-sans, sans-serif);
    font-size: var(--font-size-base, 10px);
    background-color: rgb(255, 254, 254);
}

#root {
    height: 100%;
}