html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0, 01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
    animation-iteration-count: 1 !important;
  }
}

:root {
  --color-default: #18181b;
  --color-primary: #006fee;
  --color-secondary: #9353d3;
  --color-success: #17c964;
  --color-warning: #f5a524;
  --color-danger: #f31260;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  width: 0;
  height: 0;
  animation: animate 1s linear;
}

.ripple-light {
  background: rgba(255, 255, 255, 0.5);
}

.ripple-dark {
  background: rgba(0, 0, 0, 0.5);
}

.ripple-bordered-default {
  background-color: var(--color-default);
}

.ripple-bordered-primary {
  background-color: var(--color-primary);
}

.ripple-bordered-secondary {
  background-color: var(--color-secondary);
}

.ripple-bordered-success {
  background-color: var(--color-success);
}

.ripple-bordered-warning {
  background-color: var(--color-warning);
}

.ripple-bordered-danger {
  background-color: var(--color-danger);
}

@keyframes animate {
  0% {
    width: 0;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
