.avatar-container {
  background-color: var(--color-4);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.text-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.avatar-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.size-sm {
  width: 40px;
  height: 40px;
  font-size: 12px;
}

.size-md {
  width: 54px;
  height: 54px;
  font-size: 20px;
}

.size-lg {
  width: 72px;
  height: 72px;
  font-size: 30px;
}

.size-xl {
  width: 90px;
  height: 90px;
  font-size: 40px;
}

.radius-none {
  border-radius: 0;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 8px;
}

.radius-lg {
  border-radius: 16px;
}

.radius-xl {
  border-radius: 32px;
}

.radius-full {
  border-radius: 9999px;
}

.bordered {
  border: 3px solid var(--color);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar-container {
    position: relative;
    transition: transform 0.3s ease;
  }

  .avatar-container:not(:first-child) {
    margin-left: -1.2rem;
  }

  .avatar-container:not(:hover) {
    z-index: 1;
  }
}

.horizontal {
  .avatar-container:hover {
    transform: translateX(-0.5rem);
    z-index: 1; /* Mantiene el z-index constante */
  }
}

.vertical {
  .avatar-container:hover {
    transform: translateY(-0.75rem);
    z-index: 1; /* Mantiene el z-index constante */
  }
}
