html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0, 01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
    animation-iteration-count: 1 !important;
  }
}

:root {
  --color-default: #18181b;
  --color-default: #424247;
  --color-primary: #006fee;
  --color-secondary: #9353d3;
  --color-success: #17c964;
  --color-warning: #f5a524;
  --color-danger: #f31260;

  --color-default-1: #39393e;
  --color-primary-1: #005bc4;
  --color-secondary-1: #6020a0;
  --color-success-1: #12a150;
  --color-warning-1: #c4841d;
  --color-danger-1: #c20e4d;

  --color-default-2: #39393d;
  --color-primary-2: #004493;
  --color-secondary-2: #481878;
  --color-success-2: #0e793c;
  --color-warning-2: #936316;
  --color-danger-2: #920b3a;

  --color-default-3: #2a2a2f;
  --color-primary-3: #002e62;
  --color-secondary-3: #301050;
  --color-success-3: #095028;
  --color-warning-3: #62420e;
  --color-danger-3: #610726;

  --color-default-4: #1e1e22;
  --color-primary-4: #001731;
  --color-secondary-4: #180828;
  --color-success-4: #052814;
  --color-warning-4: #312107;
  --color-danger-4: #310413;

  --color-faded: #27272a;
  --color-faded-1: #3e3e43;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-full: 9999px;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;

  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;

  --text: hsl(210 5.56% 92.94%);
}

.default,
.primary,
.secondary,
.success,
.warning,
.danger {
  --color: var(--color-default);
  --color-2: var(--color-default-1);
  --color-3: var(--color-default-2);
  --color-4: var(--color-default-3);
  --color-5: var(--color-default-4);
  color: white;
}

.primary {
  --color: var(--color-primary);
  --color-2: var(--color-primary-1);
  --color-3: var(--color-primary-2);
  --color-4: var(--color-primary-3);
  --color-5: var(--color-primary-4);
  color: white;
}

.secondary {
  --color: var(--color-secondary);
  --color-2: var(--color-secondary-1);
  --color-3: var(--color-secondary-2);
  --color-4: var(--color-secondary-3);
  --color-5: var(--color-secondary-4);
  color: white;
}

.success {
  --color: var(--color-success);
  --color-2: var(--color-success-1);
  --color-3: var(--color-success-2);
  --color-4: var(--color-success-3);
  --color-5: var(--color-success-4);
  color: black;
}

.warning {
  --color: var(--color-warning);
  --color-2: var(--color-warning-1);
  --color-3: var(--color-warning-2);
  --color-4: var(--color-warning-3);
  --color-5: var(--color-warning-4);
  color: black;
}

.danger {
  --color: var(--color-danger);
  --color-2: var(--color-danger-1);
  --color-3: var(--color-danger-2);
  --color-4: var(--color-danger-3);
  --color-5: var(--color-danger-4);
  color: white;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  width: 0;
  height: 0;
  animation: animate 1s linear;
}

.ripple-light {
  background: rgba(255, 255, 255, 0.5);
}

.ripple-dark {
  background: rgba(0, 0, 0, 0.5);
}

.ripple-bordered-default {
  background-color: rgba(255, 255, 255, 0.5);
}

.ripple-bordered-primary {
  background-color: var(--color-primary);
}

.ripple-bordered-secondary {
  background-color: var(--color-secondary);
}

.ripple-bordered-success {
  background-color: var(--color-success);
}

.ripple-bordered-warning {
  background-color: var(--color-warning);
}

.ripple-bordered-danger {
  background-color: var(--color-danger);
}

@keyframes animate {
  0% {
    width: 0;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* VARIANTS */

.solid {
  background-color: var(--color);
}

.has-hover.solid:hover {
  background-color: var(--color-2);
}

.bordered {
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--color);
}

.has-hover.bordered:hover {
  background-color: transparent;
  border-color: var(--color-2);
}

.light {
  background-color: transparent;
  color: var(--color);
}

.has-hover.light:hover {
  opacity: 1;
  background-color: var(--color-4);
}

.flat {
  background-color: var(--color-4);
  color: var(--color);
}

.has-hover.flat:hover {
  opacity: 1;
  background-color: var(--color-5);
}

.faded {
  background-color: var(--color-faded);
  border: 2px solid var(--color-faded-1);
  color: var(--color);
}

.has-hover.faded:hover {
  opacity: 1;
  background-color: #212123;
}

.button:active {
  transform: scale(0.98);
}

.shadow {
  background-color: var(--color);
  box-shadow:
    0 10px 15px -3px var(--color-2),
    0 4px 6px -4px var(--color-2);
}

.has-hover.shadow:hover {
  background-color: var(--color-2);
}

.ghost {
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
}

.has-hover.ghost:hover {
  opacity: 1;
  background-color: var(--color) !important;
  color: white;
}

.has-hover.warning.ghost:hover,
.has-hover.success.ghost:hover {
  color: black;
}

.button.default {
  color: hsl(210 5.56% 92.94%);
}

.listItem.solid {
  background-color: transparent;
}

.listItem.default {
  --color-4: hsl(0, 0%, 24%);
}

.listItem.success {
  color: var(--text);
}

.has-hover.listItem.solid:hover {
  opacity: 1;
  background-color: var(--color-4) !important;
  color: hsl(210 5.56% 92.94%);
}

.listItem.danger {
  color: var(--color);
}

.icon {
  color: var(--color);
  font-size: 1.5rem;
  line-height: 2rem;
  pointer-events: none;
  flex-shrink: 0;
}

.default.icon {
  color: hsl(200, 2%, 62%);
}
